.join-section {
  text-align: center;
  background: $darkpurple;
  border-radius: 10px;
  padding: 80px 0;
  margin-bottom: 131px;

  @include tablet-small{
    padding: 60px 10px;
  }

  &__title {
    margin-bottom: 47px;
    @include text($ff, 36px, 42px, 700, $white);
  }

  &__subscribe {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 717px;
    margin-inline: auto;
    padding: 8px 14px 12px 31px;
    background: $terciary;
    border-radius: 50px;

    input {
      width: 100%;
      background: $terciary;
      display: inline-block;
      border: 0;
      outline: none;
    }

    a {
      background: $primary;
      border-radius: 22px;
      padding: 10px 24px;
      @include text($ff, 20px, 23px, 600, $white);
      text-align: center;

      @include mobile{
       font-size: 14px;
       padding: 10px 12px;
      }
    }
  }
}
