.services-section {
  margin-top: 111px;
  margin-bottom: 111px;
  text-align: center;

  .title {
    margin-bottom: 70px;
  }

  .desc {
    max-width: 837px;
    margin-inline: auto;
    margin-bottom: 123px;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @include tablet-small{
    grid-template-columns: 1fr 1fr;
  }

  @include mobile{
    grid-template-columns: 1fr;
  }

  &-card {
    background: #f9f1fe;
    border-radius: 15px;
    padding: 46px 26px;
    transition: .1s all ease-in-out;;

    &__img {
      margin-bottom: 27px;
    }

    &__title {
      @include text($ff, 24px, 28px, 600, $paragraph);
      margin-bottom: 17px;
    }

    &__desc {
      @include text($ff, 16px, 19px, 400, $text);
      margin-bottom: 17px;
    }

    &__action {
      display: flex;
      justify-content: center;

      a {
        @include text($ff, 16px, 19px, 600, $primary);
        text-decoration-line: underline;
        display: flex;
        align-items: center;
        gap: 9px;
      }
    }

    &:hover{
      background: $primary;

      .services-card__title, .services-card__desc, a{
        color: $white;
      }

      svg path{
        fill: $white;
      }
    }
  }
}
